@{
    ViewData["Title"] = "Home";
    
}

<div class="text-center">
    <h1 class="display-4">Bio</h1>
    <div class="containner" id="conten">
        <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Hello World content.
         
          </p>
        <a asp-controller="ContentController" asp-action="Index" class="btn btn-primary">Raed More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Elon Musk</h5>
        <p class="card-text">South African entrepreneur Elon Musk is known for founding Tesla Motors and SpaceX, which launched a landmark commercial spacecraft in 2012.
Who Is Elon Musk?.</p>
        <a asp-controller="ContentController" aps-action="Elon" class="btn btn-primary">Raed More</a>
      </div>
    </div>
  </div>
</div>
    </div>
</div>

  
      